@page
@using ABP.ProductManagement.Web.Pages.Products
@using ABP.ProductManagement.Localization
@using Microsoft.Extensions.Localization
@model IndexModel
@inject IStringLocalizer<ProductManagementResource> L
@section scripts 
{
    @* 支持自動綑綁，還有版本控制 *@
    <abp-script src="/Pages/Products/Index.js"></abp-script>
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title><h2>@L["Menu:Products"]</h2></abp-card-title>
            </abp-column>
        </abp-row>

        <abp-column size-md="_6" class="text-end">
            <abp-button id="NewProductButton" text="@L["NewProduct"].Value" 
                icon="plus" button-type="Primary">
            </abp-button>
        </abp-column>
    </abp-card-header>
    <abp-card-body>
        <abp-table id="ProductsTable" striped-rows="true"></abp-table>
    </abp-card-body>
</abp-card>